<nav class="nav flex-column">
    <button class="btn btn-success mb-2" @onclick="NavigateToCreateEmail">Create Email</button>
    <button class="btn btn-warning mb-2" @onclick="NavigateToEmailHistory">Email History</button>
</nav>

@code {
    [Inject] NavigationManager? Navigation { get; set; }

    private void NavigateToCreateEmail()
    {
        Navigation?.NavigateTo("/create-email");
    }

    private void NavigateToEmailHistory()
    {
        Navigation?.NavigateTo("/email-history");
    }
}
